In [43]:
import pandas as pd

In [44]:
mainFile = pd.ExcelFile('Assignment2-2B-NDM-2024.xlsx')

In [45]:
df1 = pd.read_excel(mainFile, 'Cond1', index_col = False)
df2 = pd.read_excel(mainFile, 'Cond2', index_col = False)
df3 = pd.read_excel(mainFile, 'Cond3', index_col = False)
df4 = pd.read_excel(mainFile, 'Cond4', index_col = False)

In [46]:
df1

,Unnamed: 0,P1,Unnamed: 2,Unnamed: 3,P2,Unnamed: 5,Unnamed: 6,P3,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,P8,Unnamed: 23,Unnamed: 24,P9,Unnamed: 26,Unnamed: 27,P10,Unnamed: 29
0,NaN,HT,FA,NaN,HT,FA,NaN,HT,FA,NaN,...,FA,NaN,HT,FA,NaN,HT,FA,NaN,HT,FA
1,NaN,1,1,NaN,1,1,NaN,1,1,NaN,...,1,NaN,1,1,NaN,1,1,NaN,1,1
2,NaN,0.709677,0.16129,NaN,0.709677,0.290323,NaN,0.870968,0.354839,NaN,...,0.16129,NaN,0.774194,0.193548,NaN,0.580645,0.096774,NaN,0.709677,0.193548
3,NaN,0.435484,0.145161,NaN,0.274194,0.209677,NaN,0.725806,0.33871,NaN,...,0.145161,NaN,0.5,0.177419,NaN,0.274194,0.080645,NaN,0.532258,0.177419
4,NaN,0.354839,0.096774,NaN,0.16129,0.129032,NaN,0.709677,0.290323,NaN,...,0.129032,NaN,0.258065,0.096774,NaN,0.193548,0.064516,NaN,0.354839,0.16129
5,NaN,0.145161,0.080645,NaN,0.080645,0.112903,NaN,0.5,0.241935,NaN,...,0.112903,NaN,0.112903,0.048387,NaN,0.080645,0.048387,NaN,0.306452,0.145161
6,NaN,0.032258,0.032258,NaN,0.032258,0.032258,NaN,0.290323,0.096774,NaN,...,0.096774,NaN,0.032258,0.032258,NaN,0.032258,0.032258,NaN,0.193548,0.129032
7,NaN,0.016129,0.016129,NaN,0.016129,0.016129,NaN,0.016129,0.016129,NaN,...,0.048387,NaN,0.016129,0.016129,NaN,0.016129,0.016129,NaN,0.080645,0.048387

In [ ]:
df1.info()

In [68]:
df2

,P1,Unnamed: 1,Unnamed: 2,P2,Unnamed: 4,Unnamed: 5,P3,Unnamed: 7,Unnamed: 8,P4,...,Unnamed: 19,Unnamed: 20,P8,Unnamed: 22,Unnamed: 23,P9,Unnamed: 25,Unnamed: 26,P10,Unnamed: 28
0,HT,FA,NaN,HT,FA,NaN,HT,FA,NaN,HT,...,FA,NaN,HT,FA,NaN,HT,FA,NaN,HT,FA
1,1,1,NaN,1,1,NaN,1,1,NaN,1,...,1,NaN,1,1,NaN,1,1,NaN,1,1
2,0.870968,0.258065,NaN,0.709677,0.419355,NaN,0.677419,0.548387,NaN,0.870968,...,0.193548,NaN,0.806452,0.225806,NaN,0.806452,0.225806,NaN,0.741935,0.225806
3,0.5,0.177419,NaN,0.467742,0.370968,NaN,0.596774,0.5,NaN,0.66129,...,0.145161,NaN,0.66129,0.177419,NaN,0.403226,0.177419,NaN,0.33871,0.112903
4,0.290323,0.129032,NaN,0.225806,0.290323,NaN,0.483871,0.483871,NaN,0.064516,...,0.064516,NaN,0.258065,0.129032,NaN,0.290323,0.16129,NaN,0.258065,0.096774
5,0.080645,0.048387,NaN,0.145161,0.241935,NaN,0.370968,0.370968,NaN,0.048387,...,0.048387,NaN,0.080645,0.048387,NaN,0.112903,0.080645,NaN,0.209677,0.080645
6,0.032258,0.032258,NaN,0.129032,0.16129,NaN,0.225806,0.096774,NaN,0.032258,...,0.032258,NaN,0.032258,0.032258,NaN,0.032258,0.064516,NaN,0.064516,0.032258
7,0.016129,0.016129,NaN,0.080645,0.080645,NaN,0.048387,0.016129,NaN,0.016129,...,0.016129,NaN,0.016129,0.016129,NaN,0.016129,0.048387,NaN,0.048387,0.016129

In [ ]:
df1.info()

In [65]:
df1_HT = df1.iloc[2::, 1::3]
df1_FA = df1.iloc[2::, 2::3]

In [102]:
ht_cols = df1_HT
fa_cols = df1_FA

In [104]:
ht_cols = ht_cols.apply(pd.to_numeric, errors='coerce')
fa_cols = fa_cols.apply(pd.to_numeric, errors='coerce')

In [113]:
fa_cols.columns = ht_cols.columns

In [118]:
ht_cols - fa_cols

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10
2,0.548387,0.419355,0.516129,0.387097,0.580645,0.322581,0.483871,0.580645,0.483871,0.516129
3,0.290323,0.064516,0.387097,0.258065,0.451613,-0.064516,0.387097,0.322581,0.193548,0.354839
4,0.258065,0.032258,0.419355,0.000000,0.161290,-0.064516,0.322581,0.161290,0.129032,0.193548
5,0.064516,-0.032258,0.258065,0.000000,0.000000,0.000000,0.193548,0.064516,0.032258,0.161290
6,0.000000,0.000000,0.193548,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.064516
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.032258